@import "include-media/dist/_include-media";
@import "components/fonts";
@import "components/base";

body {
  font-size: 16px;
  background-color: $white;

  & > section {
    margin-bottom: 32px;
  }
}

#about {
  p:not(:last-of-type) {
    margin-bottom: 8px;
  }
}

.project,
.talk {
  border-radius: $round;
  padding: 16px;
  -webkit-box-shadow: 0px 18px 22px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 18px 22px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 18px 22px -19px rgba(0, 0, 0, 0.75);

  &.sky-blue {
    background-color: $sky-blue;
  }

  &.pink {
    background-color: $pink;
  }

  &.mustard {
    background-color: $mustard;
  }

  &:not(:last-of-type) {
    margin-bottom: 24px;
  }

  header {
    display: flex;
    align-items: center;
    border-radius: inherit;
    margin-bottom: 16px;

    h3 {
      margin: 0;
    }

    .thumbnail {
      margin-right: 16px;
      background-color: $white;
      border: 4px solid $light-grey;
      border-radius: $round;
      height: 48px;

      img {
        height: 48px;
        width: 48px;
        /* Specially needed it to fill gab between border and rounded image corners */
        border-radius: 5px;

        &.sprite {
          width: 32px;
          padding: 0 8px 0 8px;
        }
      }

      .emoji {
        line-height: 1;
        font-size: 32px;
        padding: 8px;
      }
    }

    h4 {
      color: $dark-grey;
    }
  }

  section {
    border-radius: 0 0 $round $round;

    .tech-list {
      display: flex;
      list-style: none;
      margin: 0;
      margin-top: 16px;
      padding: 0;
      flex-wrap: wrap;

      li {
        font-weight: bold;

        padding: 4px 8px 4px 0;
      }
    }

    .links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 16px;

      .link {
        display: flex;
        align-items: center;

        &:not(:last-of-type) {
          margin-bottom: 16px;
        }

        a {
          margin-right: 8px;

          &:not(:last-of-type) {
            margin-bottom: 16px;
          }
        }

        .navigation-icon {
          background-color: $fuchsia;
          color: $white;
          padding: 2px 3px;
          border-radius: $circle;
        }
      }
    }
  }
}

#social {
  margin-bottom: 8px;

  p {
    text-align: center;
  }

  .links {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
  }

  #copyright {
    margin: 16px 0 8px 0;
  }
}
