/* For site wide styles. Colors should match the ones in theme. */
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

html {
  background-color: #5d5453;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

body {
  color: #e3e3e3;
  margin: 0;
}
