/* For site wide styles */
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

html {
  background-color: #5d5453;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

body {
  color: white;
  margin: 0;
}
