/**
 * @section Base Styles
 */
//  Colors
$pink: rgb(249, 194, 212);
$fuchsia: rgb(252, 43, 120);
$sky-blue: rgb(176, 232, 242);
$mustard: rgb(254, 218, 124);
$black: rgb(26, 26, 26);
$white: rgb(255, 255, 255);
$light-grey: rgb(236, 240, 248);
$dark-grey: rgb(66, 66, 66);

// Border Radii
$round: 10px;
$circle: 900px;

body {
  font-family: "Lato Regular";
  color: $black;
  padding: 8px;
}

h1,
h2,
h3,
h4 {
  font-family: "Lato Regular";
  margin: 0;
}

h1,
h2 {
  margin-bottom: 16px;
}

h3 {
  margin-bottom: 8px;
}

p {
  margin: 0;
  line-height: 1.5;
}

input,
textarea,
select,
button {
  font: inherit;
}
