@font-face {
  font-family: "Lato Regular";
  font-style: normal;
  font-weight: 400;
  src: local("./fonts/lato-regular"),
    url("/fonts/lato-regular.woff2") format("woff2"),
    url("/fonts/lato-regular.woff") format("woff"),
    url("/fonts/lato-regular.ttf") format("truetype");
  unicode-range: U+000-5FF; /* Latin glyphs */
  font-display: swap;
}
