@include media(">phone", "<=tablet") {
  body {
    font-size: 16px;
    background-color: $white;
  }

  #about-me {
    p {
      margin-bottom: 8px;
    }
  }

  .project-overview {
    display: flex;
    height: 80px;
    border-radius: 10px;
    // https://css-tricks.com/snippets/css/css-box-shadow/
    box-shadow: 10px 10px 0px 0px rgba($light-grey, 0.5);
    -moz-box-shadow: 10px 10px 0px 0px rgba($light-grey, 0.5);
    -webkit-box-shadow: 10px 10px 0px 0px rgba($light-grey, 0.5);

    &:not(:last-of-type) {
      margin-bottom: 16px;
    }

    .thumbnail {
      i {
        font-size: 64px;
      }

      &.turquoise {
        background-color: rgba($turquoise, 0.2);

        i {
          color: $turquoise;
        }
      }

      &.pink {
        background-color: rgba($pink, 0.2);

        i {
          color: $pink;
        }
      }

      border-radius: inherit;
      flex: 0 0 80px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    header {
      padding: 8px;
      flex: 1 0 auto;

      h3 {
        margin: 0;
      }

      .status {
        font-family: "Lato Thin";
      }
    }

    .tech-list {
      display: flex;
      padding: 0;
      list-style: none;
      margin: 0;

      li {
        display: inline;

        &:not(:first-of-type) {
          margin-left: 8px;
        }
      }
    }
  }
}
